.campaign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100rem;
    max-width: 79vw;
    min-height: 92vh;
    background-color: ghostwhite;
    font-family: "Sansation", sans-serif;
    padding: 3rem 1vw 3rem 2vw;
}

.campaign-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 16px auto;
  font-family: "Sansation", sans-serif;
}

.campaign-form h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #333;
}

.campaign-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.form-field {
  flex: 1 1 calc(50% - 1.5rem);
  min-width: 250px;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-weight: 500;
}

input[matInput], mat-select {
  border-radius: 4px;
}

mat-select {
  padding: 0.25rem 0;
}

@media (max-width: 768px) {
  .form-field {
    flex: 1 1 100%;
  }
}

.adlines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 1rem;
    width: 90%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.adLines-table {
    min-width: 50%;
    max-width: 95%;
    padding: 0.5rem;
    border-radius: 1rem;
}

.adLines-tbl-row {
    font-size: 0.8rem;
}

.adlines-section {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
}

.adlines-section h2 {
    margin-bottom: 1rem;
}

.adlines-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.adlines-table th,
.adlines-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.adlines-table th {
    
    font-weight: bold;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 4rem 1rem 1rem 1rem;
    width: 55%;
    border: 1px solid white;
    border-radius: 1.5rem;
    box-shadow: -10px -8px 10px rgba(119, 0, 255, 0.05);

    .insight {
        text-align: center;
        margin: 10px;
        flex: 1 1 150px;
    }

    .insight-icon {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .insight-value {
        font-size: 32px;
        font-weight: bold;
    }

    .new {
        color: #ff9800;
    }
    .ongoing {
        color: #4caf50;
    }
    .delivered {
        color: #2196f3;
    }
    .reconciled {
        color: #00bcd4;
    }
    .performance {
        color: #e91e63;
    }
}
