$primary-color: #2c3e50;
$divider-color: #bdc3c7;
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 82vw;
}

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  background-color: white;
  color: black;
  font-family: "Sansation";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1.5rem;
  }

  &-divider {
    height: 30px;
    width: 2px;
    background:linear-gradient( to bottom,rgb(255, 186, 255), rgb(255, 0, 255), rgb(111, 0, 155) );
  }

  &-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 4rem;
  }

  .nav-item {
    min-width: 8%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    background-color: white;
    color: rgb(39, 0, 34);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: roboto;
    border: 1px solid white;
    border-radius: 2rem;
    cursor: pointer;
    transition:(
      background-color,
      border-color 0.3s ease
    );

    &:hover {
      background-color: #d8d8d8;
      border-color: #d8d8d8;
    }
  }

  .nav-IconItem {
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition:(
      background-color,
      border-color 0.3s ease
    );

    &:hover {
      background-color: #cccccc;
      border-color: #cccccc;
    }
  }
}
