<div class="home-container">
    <div class="login-container">
        <h2>Login</h2>
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Type your username" />
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Type your password" />
            </div>
            <a href="#" class="forgot-password">Forgot password?</a>
            <button type="submit" class="login-btn">LOGIN</button>
        </form>

        <div class="social-login">
            <p>Or Sign Up Using</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook facebook-icon"></i></a>
                <a href="#"><i class="fab fa-twitter twitter-icon"></i></a>
                <a href="#"><i class="fab fa-google google-icon"></i></a>
            </div>
        </div>

        <p>Or Sign Up Using <a href="#">SIGN UP</a></p>
    </div>
</div>