<div class="home-container">

    <section class="title-screen">
        <h1 class="title">Digital Media <span>AI</span></h1>
        <p class="tagline">One dashboard.<br>Infinite possibilities.</p>
        <button routerLink="/campaigns" matButton="elevated"
            class="cta-button">Start creating</button>
    </section>

    <div class="section-divider"></div>
    <div class="login-container">
        <div class="login-wrapper">
            <h2>Login</h2>
            <form>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username"
                        placeholder="Type your username" />
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password"
                        placeholder="Type your password" />
                </div>
                <a href="#" class="forgot-password">Forgot password?</a>
                <button type="submit" class="login-btn">LOGIN</button>
            </form>

            <div class="social-login">
                <p>Or Sign Up Using</p>
                <div class="social-icons">
                    <a title="facebookIcon" href="facebook.com">
                        <i class="fab fa-facebook facebook-icon"></i>
                    </a>
                    <a title="twitterIcon" href="x.com">
                        <i class="fab fa-twitter twitter-icon"></i>
                    </a>
                    <a title="googleIcon" href="google.com">
                        <i class="fab fa-google google-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>