.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
  margin: 50px, 50px, 0px, 50px;
}

.mat-mdc-table {
  min-width: 0;
  width: 100%;
  margin: 0, 2%, 2%;
}

.table-container {
  width:50%;
}

.campaigns-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 92vh;
  background: linear-gradient(to bottom, #001f3d, #3a3a3a);
}
